body {
    margin: 0 auto;
    background-color: #ac7339;
    text-align: center;
  }
  
  h1 {
    font-family: "Ephesis", cursive;
  }
  
  header {
    box-sizing: border-box;
    background-color: #999999;
    font-family: "Roboto", cursive;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  nav a:hover {
    color: #3333ff;
  }
  
  .title {
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  
  main section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px;
  }
  
  article {
    background-color: black;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 80px;
    border-style: solid;
    border-radius: 20px;
    width: 120px;
  }
  
  article a {
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
  }
  
  .card-1 {
    background-image: url("https://cdn.pixabay.com/photo/2020/06/21/15/40/lockpick-5325550_1280.jpg");
    background-position: center;
    background-size: cover;
    max-width: 50ch;
    width: 15%;
  }
  
  .card-2 {
    background-image: url("https://media.istockphoto.com/photos/man-uses-lockpicking-tools-to-pick-the-lock-of-a-house-picture-id1164597463?s=612x612");
    background-position: center;
    background-size: cover;
    max-width: 50ch;
    width: 15%;
  }
  
  .card-3 {
    background-image: url("https://cdn.pixabay.com/photo/2018/04/24/22/33/key-3348307_1280.jpg");
    background-position: center;
    background-size: cover;
    max-width: 50ch;
    width: 15%;
  }
  
  article p {
    text-align: center;
  }
  
  footer {
    color: black;
    background-color: #999999;
    font-family: "Roboto", cursive;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding: 15px;
  }
  